*{
  margin: 0;
  padding: 0;
  background: #D4FCFF;
  font-family: sans-serif;
}
.contain {
  
}
h1 {
  text-align: center;
  color: black;
}

p {
  margin-left: 10px;
  color: black;
}

nav {
  
}

nav, ul {
  background-color: #07D8FF;
   height: 40px;
}

ul li {
  list-style: none;
  display: inline-block;
  background-color: #07D8FF;
  font-size: 20px;
  margin-left: 50px;
}